<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br />
            With Us Today
        </h2>
        <p>
            Every car has a story, let yours shine the brightest. With our expert mobile detailing, we bring out the best in your ride. Book today and let your car tell its story with pride.
        </p>
        <a href="/contact" class="cs-button-solid">Get a QUOTE Now</a>
    </div>
    <picture>
        <img aria-hidden="true" decoding="async" src="/assets/images/cta-1.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>