<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/images/logo-small.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        </nav>
        <a href="tel:8166031723" class="cs-button-solid cs-nav-button">(816) 603-1723</a>
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
    </div>
</header>