---
title: 'About'
description: "Discover the passion and expertise of Pixel Garage, a leading web design and development company. We blend creativity with technology to craft visually stunning websites that engage audiences and deliver exceptional user experiences. Join us on your digital journey and let's bring your unique online vision to life, one pixel at a time."
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Pixel Garage</h2>
                <p class="cs-text">
                    At Pixel Garage, we are more than just a web design and development company - we are passionate creators, innovators, and dreamers who strive to bring your digital visions to life. As a team of talented professionals, we collaborate to build exceptional online experiences that leave a lasting impact on your audience.
                </p>
                <p class="cs-text">
                    We believe that every pixel matters, and it is this attention to detail that sets us apart. We take pride in crafting visually stunning and user-centric websites that not only look incredible but also function seamlessly. Our approach combines artistic flair with technical expertise, ensuring that your online presence not only captivates but also delivers results.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Pixel Garage was born out of a profound belief in the power of pixels to shape captivating digital experiences. Our mission has always been to blend artistry with innovation, creating websites that not only impress but also connect with people on a deeper level. With every project, we strive to raise the bar higher, inspiring ourselves and our clients to embrace the limitless possibilities of the digital world.
                    </p>
                    <span class="cs-name">Cameron McDowell</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}