---
title: 'Blog'
description: 'Meta description for the page'
preloadImg: '/assets/images/about-2.jpg'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Coming Soon</h1>
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/hero-1.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>
{% endblock %}