---
title: 'Mobile Detailing'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero-1.jpg'
permalink: 'landing/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
                <div class="cs-content">
                    <span class="cs-topper">Professional Mobile Auto Detailing</span>
                    <h2 class="cs-title">Serving Kansas City and surrounding areas</h2>
                    <p class="cs-text">
                        Your vehicle's shine and satisfaction are just a message away! At Drip Detailing KC, we're committed to delivering unparalleled auto detailing right to your doorstep. Whether you have inquiries, need a personalized quote, or are ready to book an appointment, our dedicated team is here to assist. Reach out directly via call, text, or email. Let's connect and give your car the VIP treatment it deserves!
                        <br>
                        <br>
                        <strong>CALL OR TEXT TODAY! (816) 853-3490</strong>
                        <br>
                        <strong>contact@dripdetailingkc.com</strong>
                    </p>
                </div>
                <div class="cs-form">
                    <script type="text/javascript" src="https://form.jotform.com/jsform/232195698190163"></script>
                </div>
         </div>
    </section>
{% endblock %}