---
title: 'Projects'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    parent: About Us
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Coming Soon</h1>
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/about-1.jpg" alt="mobile detailing" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}