---
title: 'Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/about-2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Drip Detailing KC</span>
                <h1 class="cs-title">Our Services</h1>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hero-2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero-3.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero-1.jpg" alt="clean car" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services-1">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
                <ul style="text-align: center; list-style: none;">
                    <h2>Express Shine Package</h2>
                    <br>
                    <p>Quick exterior hand wash and interior touch-up, focusing on visible areas for a fresh look in under an hour.</p>
                    <br>
                    <li><Strong>$50-$85</Strong></li>
                    <li>Exterior: Hand wash, dry, degrease rims and tires, clean door jams and trunk seals, clean windows.</li>
                    <li>Interior: Quick vacuum of seats and floor, wipe down of all surfaces.</li>
                    <li>Duration: Approx. 30-45 minutes.</li>
                </ul>
                <br>
                <ul style="text-align: center; list-style: none;">
                    <h2>Standard Revive Package</h2>
                    <br>
                    <p>A comprehensive clean-up covering both exterior waxing and interior detailing, ensuring a polished look inside-out.</p>
                    <br>
                    <li><Strong>$115-$175</Strong></li>
                    <li>Exterior: Everything from express + wax application</li>
                    <li>Interior: Everything from express + deep vacuum, carpet and seat shampooing, headliner cleaning, leather seat conditioning (if applicable)</li>
                    <li>Duration: Approx. 1-1.5 hours.</li>
                </ul>
            </p>
        </div>
        <div class="card">
                <ul style="text-align: center; list-style: none;">
                    <h2>Premium Glow Package</h2>
                    <br>
                    <p>Deep exterior and interior treatment with clay bar, steam cleaning, and conditioning, reviving your vehicle's original shine.</p>
                    <br>
                    <li><Strong>$200-$275</Strong></li>
                    <li>Exterior: Everything from Revive + clay bar treatment</li>
                    <li>Interior: Everything from Revive + Deep vacuum, steam cleaning of seats and carpets, and UV protectant applied to all surfaces.</li>
                    <li>Extras: Optional free air freshener</li>
                    <li>Duration: Approx. 2-3 hours.</li>
                </ul>
                <br>
                <ul style="text-align: center; list-style: none;">
                    <h2>Deluxe Restoration Package</h2>
                    <br>
                    <p>The ultimate care package: from  headlight restoration outside to deep stain removal and odor treatment inside, it's a full vehicle makeover.</p>
                    <br>
                    <li><Strong>$350-$475</Strong></li>
                    <li>Exterior: Everything from the Premium Glow package plus headlight restoration, and engine bay cleaning.</li>
                    <li>Interior: Everything from the Premium Glow package plus deep stain removal, and odor elimination treatment.</li>
                    <li>Extras: Optional free air freshener and a small bottle of quick detailer for touch-ups.</li>
                    <li>Duration: Approx. 4-5 hours.</li>
                </ul>
            </p>
        </div>
        <div class="card">
            <h2>Add-Ons</h2>
            <br>
            <p>
                <ul style="text-align: center; list-style: none;">
                    <p><Strong>Go the extra mile.</Strong></p>
                    <br>
                    <p>For optimal results with our paint correction and polishing services, we kindly request customers to provide a shaded area or garage.</p>
                    <br>
                    <li>Headlight restoration (per headlight) - $50</li>
                    <li>Engine Bay deep clean - $75</li>
                    <li>1 Step Polish (50%+ defect removal) - $60/hr</li>
                    <li>Paint Correction - $100/hr</li>
                    <li>Ceramic Coating - $60/hr</li>
                </ul>
            </p>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}