---
title: 'Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/about-2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Drip Detailing KC</span>
                <h1 class="cs-title">Our Services</h1>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hero-2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero-3.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero-1.jpg" alt="clean car" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services-1">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <h2>Interior Services</h2>
            <p>
                <ul>
                    <Strong>Basic Interior</Strong>
                    <p>Just a quick touch up.</p>
                    <li><Strong>$100-$125</Strong></li>
                    <li>Vacuum</li>
                    <li>Mirrors and Windows Cleaned</li>
                    <li>All doors, cup holders, center consoles, dash, glove box, and vents deep cleaned and steamed.</li>
                </ul>
            </p>
        </div>
        <div class="card">
            <h2>Exterior Services</h2>
            <p></p>
        </div>
        <div class="card">
            <h2>Paint Correction &</h2>
            <p></p>
        </div>
    </section>

    <section id="services" class="services-1">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <h2>Standard</h2>
            <p>$150-$190 (Hand wash & dry, wheels & tires cleaned & dressed, vacuum interior, clean windows in & out, clean and dress interior surfaces & panels, clean door jams and gas cap, vacuum trunk, clean and condition leather/fabrics, air freshener, 1-3 month paint sealant)</p>
        </div>
        <div class="card">
            <h2>Deluxe</h2>
            <p>$300-$400 (Hand wash & dry, wheels & tires cleaned & dressed, vacuum interior, clean windows in & out, clean & dress interior surfaces & panels, clean door jams & gas cap, vacuum trunk, clean and condition leather/fabrics, shampoo carpets, floor mats & seats, air freshener, Clay bar treatment, 6-12 month ceramic sealant)</p>
        </div>
        <div class="card">
            <h2>Interior Deep Clean</h2>
            <p>Interior Deep Clean: $165-$250 (Interior Vacuum, clean interior windows, clean & dress interior surfaces & panels, vacuum trunk, clean & condition leather/fabrics, shampoo carpets, floor mats & seats, air freshener)</p>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}