---
title: "Welcome to Drip Detailing KC - Kansas City's Premier Mobile Auto Detailing Service"
description: "Kansas City's top mobile auto detailing service. Expert care, convenient scheduling, and unmatched results. Book now for a revitalized ride!"
preloadImg: '/assets/images/hero-1.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Drip Detailing KC</span>
                <h1 class="cs-title">Welcome to Drip Detailing KC - Kansas City's Premier Mobile Auto Detailing Service</h1>
                <p class="cs-text">
                    Kansas City's top mobile auto detailing service. Expert care, convenient scheduling, and unmatched results. Book now for a revitalized ride!
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    BOOK NOW
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hero-2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero-3.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero-1.jpg" alt="clean car" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <h2>Standard</h2>
            <p>$150-$190 (Hand wash & dry, wheels & tires cleaned & dressed, vacuum interior, clean windows in & out, clean and dress interior surfaces & panels, clean door jams and gas cap, vacuum trunk, clean and condition leather/fabrics, air freshener, 1-3 month paint sealant)</p>
        </div>
        <div class="card">
            <h2>Deluxe</h2>
            <p>$300-$400 (Hand wash & dry, wheels & tires cleaned & dressed, vacuum interior, clean windows in & out, clean & dress interior surfaces & panels, clean door jams & gas cap, vacuum trunk, clean and condition leather/fabrics, shampoo carpets, floor mats & seats, air freshener, Clay bar treatment, 6-12 month ceramic sealant)</p>
        </div>
        <div class="card">
            <h2>Interior Deep Clean</h2>
            <p>Interior Deep Clean: $165-$250 (Interior Vacuum, clean interior windows, clean & dress interior surfaces & panels, vacuum trunk, clean & condition leather/fabrics, shampoo carpets, floor mats & seats, air freshener)</p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about-1.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about-2.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Redefining Auto Detailing in Kansas City</h2>
                <p class="cs-text">
                    In the bustling heart of Kansas City, we recognized a need for convenient, high-quality auto detailing. Our mobile service is designed for those who value their time and their vehicle. Every car, truck, or SUV we touch is treated with precision, ensuring a showroom shine every time.
                </p>
                <p class="cs-text">
                    Detailing isn't just a service to us; it's a craft. Our team combines expertise with the best products on the market to rejuvenate your vehicle, both inside and out. From meticulous exterior polishing to deep interior cleaning, we leave no stone unturned.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        As a proud local business, our community is at the heart of everything we do. We're not just serving clients; we're serving neighbors, friends, and fellow Kansas City residents. Your satisfaction is our top priority, and we strive to exceed expectations with every service.
                    </p>
                    <span class="cs-name">Cameron McDowell</span>
                    <span class="cs-job">Co-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <img aria-hidden="true" decoding="async" src="/assets/images/seo-1.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <img aria-hidden="true" decoding="async" src="/assets/images/seo-2.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Mobile Auto Detailing Services</span>
                <h2 class="cs-title">Mobile Auto Detailing Services: Experience the Ultimate Shine</h2>
                <p class="cs-text">
                    In today's fast-paced world, convenience is paramount. That's where our premium Mobile Auto Detailing Services come into play. At Drip Detailing KC, we believe that a pristine vehicle shouldn't require a trip to the detailing shop. Instead, we bring the detailing expertise right to your doorstep. Whether you're at home, at the office, or any other location, our team is equipped to transform your vehicle into a gleaming masterpiece.
                </p>
                <p class="cs-text">
                    Our Mobile Auto Detailing Services are more than just a wash and wax routine. We delve deep into the intricacies of auto care, ensuring every nook and cranny of your vehicle gets the attention it deserves. From a thorough exterior wash to an intensive interior cleaning, our services are designed to rejuvenate your car and enhance its longevity. But it's not just about aesthetics; it's about preserving the value of one of your most significant investments. With state-of-the-art equipment and eco-friendly products, we ensure that your vehicle receives the best care possible. Join the ranks of countless satisfied customers who've experienced the unparalleled shine and freshness that our Mobile Auto Detailing Services offer. Book an appointment today and let your car be the envy of every road!
                </p>
                <!-- <a href="/blog" class="cs-button-solid">Read our Blog</a> -->
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    {% include 'components/cta.html' %}
{% endblock %}