---
title: "Welcome to Drip Detailing KC - Kansas City's Premier Mobile Auto Detailing Service"
description: "Kansas City's top mobile auto detailing service. Expert care, convenient scheduling, and unmatched results. Book now for a revitalized ride!"
preloadImg: '/assets/images/hero-1.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Drip Detailing KC</span>
                <h1 class="cs-title">Welcome to Drip Detailing KC - Kansas City's Premier Mobile Auto Detailing Service</h1>
                <p class="cs-text">
                    Kansas City's top mobile auto detailing service. Expert care, convenient scheduling, and unmatched results. Book now for a revitalized ride!
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    GET A QUOTE
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hero-2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero-3.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero-1.jpg" alt="clean car" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services-1">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
                <ul style="text-align: center; list-style: none;">
                    <h2>Express Shine Package</h2>
                    <br>
                    <p>Quick exterior hand wash and interior touch-up, focusing on visible areas for a fresh look in under an hour.</p>
                    <br>
                    <li><Strong>$50-$85</Strong></li>
                    <li>Exterior: Hand wash, dry, degrease rims and tires, clean door jams and trunk seals, clean windows.</li>
                    <li>Interior: Quick vacuum of seats and floor, wipe down of all surfaces.</li>
                    <li>Duration: Approx. 30-45 minutes.</li>
                </ul>
                <br>
                <ul style="text-align: center; list-style: none;">
                    <h2>Standard Revive Package</h2>
                    <br>
                    <p>A comprehensive clean-up covering both exterior waxing and interior detailing, ensuring a polished look inside-out.</p>
                    <br>
                    <li><Strong>$115-$175</Strong></li>
                    <li>Exterior: Everything from express + wax application</li>
                    <li>Interior: Everything from express + deep vacuum, carpet and seat shampooing, headliner cleaning, leather seat conditioning (if applicable)</li>
                    <li>Duration: Approx. 1-1.5 hours.</li>
                </ul>
            </p>
        </div>
        <div class="card">
                <ul style="text-align: center; list-style: none;">
                    <h2>Premium Glow Package</h2>
                    <br>
                    <p>Deep exterior and interior treatment with clay bar, polish, steam cleaning, and conditioning, reviving your vehicle's original shine.</p>
                    <br>
                    <li><Strong>$200-$275</Strong></li>
                    <li>Exterior: Everything from Revive + clay bar treatment, polish</li>
                    <li>Interior: Everything from Revive + Deep vacuum, steam cleaning of seats and carpets, and UV protectant applied to all surfaces.</li>
                    <li>Extras: Optional free air freshener</li>
                    <li>Duration: Approx. 2-3 hours.</li>
                </ul>
                <br>
                <ul style="text-align: center; list-style: none;">
                    <h2>Deluxe Restoration Package</h2>
                    <br>
                    <p>The ultimate care package: from  headlight restoration outside to deep stain removal and odor treatment inside, it's a full vehicle makeover.</p>
                    <br>
                    <li><Strong>$350-$475</Strong></li>
                    <li>Exterior: Everything from the Premium Glow package plus headlight restoration, and engine bay cleaning.</li>
                    <li>Interior: Everything from the Premium Glow package plus deep stain removal, and odor elimination treatment.</li>
                    <li>Extras: Optional free air freshener and a small bottle of quick detailer for touch-ups.</li>
                    <li>Duration: Approx. 4-5 hours.</li>
                </ul>
            </p>
        </div>
        <div class="card">
            <h2>Add-Ons</h2>
            <br>
            <p>
                <ul style="text-align: center; list-style: none;">
                    <p><Strong>Go the extra mile.</Strong></p>
                    <br>
                    <li>Headlight restoration - $50</li>
                    <li>Engine Bay deep clean - $50</li>
                    <li>Paint Correction - $60/hr</li>
                    <li>Ceramic Coating - Price Varies</li>
                </ul>
            </p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about-1.jpg" alt="drip detailing kansas city" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about-2.jpg" alt="mobile auto detailing" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Redefining Auto Detailing in Kansas City</h2>
                <p class="cs-text">
                    In the bustling heart of Kansas City, we recognized a need for convenient, high-quality auto detailing. Our mobile service is designed for those who value their time and their vehicle. Every car, truck, or SUV we touch is treated with precision, ensuring a showroom shine every time.
                </p>
                <p class="cs-text">
                    Detailing isn't just a service to us; it's a craft. Our team combines expertise with the best products on the market to rejuvenate your vehicle, both inside and out. From meticulous exterior polishing to deep interior cleaning, we leave no stone unturned.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        As a proud local business, our community is at the heart of everything we do. We're not just serving clients; we're serving neighbors, friends, and fellow Kansas City residents. Your satisfaction is our top priority, and we strive to exceed expectations with every service.
                    </p>
                    <span class="cs-name">Cameron McDowell</span>
                    <span class="cs-job">Co-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <img aria-hidden="true" decoding="async" src="/assets/images/seo-1.jpg" alt="best detailing in kc" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <img aria-hidden="true" decoding="async" src="/assets/images/seo-2.jpg" alt="Kansas City mobile detailing" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Mobile Auto Detailing Services</span>
                <h2 class="cs-title">Mobile Auto Detailing Services: Experience the Ultimate Shine</h2>
                <p class="cs-text">
                    In today's fast-paced world, convenience is paramount. That's where our premium Mobile Auto Detailing Services come into play. At Drip Detailing KCc, we believe that a pristine vehicle shouldn't require a trip to the detailing shop. Instead, we bring the detailing expertise right to your doorstep. Whether you're at home, at the office, or any other location, our team is equipped to transform your vehicle into a gleaming masterpiece.
                </p>
                <p class="cs-text">
                    Our Mobile Auto Detailing Services are more than just a wash and wax routine. We delve deep into the intricacies of auto care, ensuring every nook and cranny of your vehicle gets the attention it deserves. From a thorough exterior wash to an intensive interior cleaning, our services are designed to rejuvenate your car and enhance its longevity. But it's not just about aesthetics; it's about preserving the value of one of your most significant investments. With state-of-the-art equipment and eco-friendly products, we ensure that your vehicle receives the best care possible. Join the ranks of countless satisfied customers who've experienced the unparalleled shine and freshness that our Mobile Auto Detailing Services offer. Book an appointment today and let your car be the envy of every road!
                </p>
                <!-- <a href="/blog" class="cs-button-solid">Read our Blog</a> -->
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    {% include 'components/cta.html' %}
{% endblock %}